#info_main{
	position: absolute;
	min-height: 500px;
	min-width: 600px;
	margin-top: 125px;
	margin-left:205px;
	overflow: hidden;
	/*border: 1px solid blue;*/
}
#info_main form{
	margin-top: 15px;

}
